
body {
    height: 100vh;
    background-color: red;
}
.container {
    border: 2px solid white;
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
}
#newtask{
    position: relative;
    background-color: white;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px black;
}
#newtask input{
    width: 70%;
    width: 70%;
    height: 40%;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid white;
    padding: 12px;
    color: black;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}
#newtask input:focus{
    outline: none;
    border-color: red;
}
#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45%;
    border-radius: 5px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
}
#tasks{
    background-color: white;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px black;
    width: 92,5%;
    position: relative;

}
.task span{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: red;
    color: white;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    
}